<h1>Wikitaskia</h1>

<h2>Here are your lists:</h2>

<% if List.all.first == nil %>
  <h4> None </h4>
<% end %>


<form action="/lists" method="post">
  <label name="new_list">Name:</label>
  <input id="new_list" name="name" type="text">
  <button>Create List</button>
</form>

<% if @list.persisted? %>
  <h4 class="error" id="green"> List Saved! </h4>
<% elsif @list.errors.any? %>
  <h4 class="error" id="red"> <%= @list.errors.full_messages.each {|message| puts message } %> </h4>
<% end %>
