/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header {
  background-color: gray;
  padding:50px 0 5px 0;
}

h1 {
  color:white;
  margin-left:10%;
  text-decoration: none
}

h2 {
  text-decoration: underline
}

#main {
  padding-top:30px;
  width: 80%;
  margin: auto;
}

#green {
  color:green;
}

#red {
  color:red;
}


.list {
  font-size: 1.5em;
  margin-right:10px;
}

#new_list {
  width:30%;
}

.forms {
  margin-top:40px;
}

#return {
  margin-top:20px;
}

#task_item {
  padding:10px;
}

#delete {
  color:red;
}

#complete {
  color:green;
}
